<footer class="blog-footer">
  <p>
    Este template foi produzido para <a href="#">Costumer</a> pela
    <a href="#">@Assesoftware</a>.
  </p>
  <p>
    <a href="#">Voltar ao topo</a>
  </p>
</footer>
