<h2 class="page-header">Editar Usuario</h2>

<form action="/admin/user/<%= user.id%>?_method=PUT" method="POST">
  <%- include('_form_fields') %>
  <a href="/admin/allusers">Voltar</a>
  <button type="submit">Atualizar</button>
</form>
