<div class="container">
  <h2>Adicionar usuario</h2>

  <form action="/admin/register/new/user" method="POST">
    <%- include('_form_fields')%>
    <a href="/users">Cancel</a>
    <button type="submit">Create</button>
  </form>
</div>
