<h2 class="page-header">Novo evento</h2>

<form action="new/evento" method="POST">
  <%- include('_form_fields') %>
  <a href="/admin/evento">Cancel</a>
  <button type="submit">Criar</button>
</form>
