<h2 class="page-header">Nova unidade</h2>

<form action="/admin/unidades/new/unidade" method="POST">
  <%- include('_form_fields') %>
  <a href="/admin/unidades">Cancel</a>
  <button type="submit">Criar</button>
</form>
