<div class="form-group mb-2">
  <label for="name" class="sr-only">Tituto</label>
  <input
    type="text"
    class="register-form-control"
    id="title"
    name="title"
    value="<%= quemSomos.title%>"
  />
</div>
<div class="form-group mb-2">
  <label for="email" class="sr-only">Texto</label>
  <input
    type="text"
    class="register-form-control"
    id="description"
    name="description"
    value="<%= quemSomos.description%>"
  />
</div>
