<div class="container">
  <h2>Adicionar Quem somos</h2>

  <form action="/admin/quemsomos/new/" method="POST">
    <%- include('_form_fields')%>
    <a href="/admin/quemsomos">Cancel</a>
    <button type="submit">Create</button>
  </form>
</div>
