<main role="main" class="container">
  <p><label>Tituo: <%= quemSomos.title%></label></p>
  <p><label>Texto: <%= quemSomos.description%></label></p>

  <div>
    <a class="btn btn-info" href="/admin/<%=quemSomos.id%>/edit" role="button"
      >Editar</a
    >
  </div>
</main>
