<main role="main" class="container">
  <h5>Eventos index</h5>

  <% uniLocation.forEach(uni => { %>
  <p>
    <a href="/admin/unidadeLocations/unidadeLocation/<%=uni.id%>/show">
      <%= uni.title%></a
    >
  </p>

  <% }) %>

  <a href="/admin/unidadeLocations/new">New</a>
  <Br />
  <a href="/admin/unidadeLocations/all">Todas localizacoes</a>
</main>
