<div>
  <label>Titulo</label>
  <input type="text" name="title" value="<%= categoria.title %>" />
</div>

<div>
  <label>Descrição</label>
  <input type="text" name="description" value="<%= categoria.description %>" />
</div>
