<h2 class="page-header">Nova Categoria</h2>

<form action="/admin/categorias/new/categoria" method="POST">
  <%- include('_form_fields') %>
  <a href="/admin/categorias">Cancel</a>
  <button type="submit">Criar</button>
</form>
